body{
	padding:100px;
	background-color:#ffffff;
}

h1 {
    background-color: RGB(249, 201, 16); 
   }
   p {
    background-color: rgb(255, 255, 255); 
    color: white; 
   }
#main-image{
width:700px;
border:solid;
border-radius:40px;
}
a:hover {
    color: #ffe;
    background-color: #5488af;}
